@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), 
       url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin-500.woff2") format("woff2"), 
       url("../fonts/roboto-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin-700.woff2") format("woff2"), 
       url("../fonts/roboto-v20-latin-700.woff") format("woff");
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}
.request-form {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px #ccc;
  background-color: #fff;
  padding: 40px;
}
.request-text {
  font-size: 30px;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}
.request-container::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.request-control {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: box-shadow 0.3s ease,
    background-image 0.3s ease, 
    background-size 0.3s ease;
}
.request-checkbox:checked + .request-control {
  box-shadow: 0 0 1px 1px #227fd2;
}
.github-checkbox {
  background-image: url("../img/github-notactive.png");
  background-size: contain;
}
.request-checkbox:checked + .github-checkbox{
  background-image: url("../img/github-active.png");
  background-size: contain;
}
.bitbucket-checkbox {
  background-image: url("../img/bitbucket-notactive.png");
  background-size: 80%;
}
.request-checkbox:checked + .bitbucket-checkbox{
  background-image: url("../img/bitbucket-active.png");
  background-size: 70%;
}
.gitlab-checkbox {
  background-image: url("../img/gitlab-notactive.png");
  background-size: 85%;
}
.request-checkbox:checked + .gitlab-checkbox{
  background-image: url("../img/gitlab-active.png");
  background-size: 85%;
}
.repo-hosting-name {
  font-size: 18px;
  margin-right: 15px;
}
.sign-up-mail {
  width: 400px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  font-size: 15px;
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.sign-up-mail:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #227fd2;
}
.request-checkbox:checked ~ .sign-up-mail {
  opacity: 1;
}
.submit-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}
.submit-button {
  border: none;
  border-radius: 3px;
  padding: 10px;
  background-color: #00bb4a;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.3s ease;
}
.submit-button:focus {
  outline: none;
}
.submit-button:hover {
  background-color: #00993d;
}
.submit-button:active {
  background-color: #006629;
}